.root {
  min-height: 100%;
  width: 100%;
  padding: 5% 4%;
}
.avatar {
  height: 180px;
  width: 180px;
  margin: 0 auto;
}
.avatar img {
  height: 100%;
  border-radius: 50%;
  background: #adefd1ff;
}
.details p {
  padding: 5px 12px;
  font-weight: 300;
}
.details h2 {
  font-weight: 400;
  padding: 12px 0;
}

@media only screen and (max-width: 768px) {
  .root {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
  }
}
