html,
body {
  background: ghostwhite;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

/* utils */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-flow: column;
}
.text-center {
  text-align: center;
}
.base-card {
  height: 340px;
  width: 100%;
  box-shadow: 1px 3px 5px rgba(#072a4d, 0.9);
  background: #00203f;
  padding-top: 2%;
  color: #fff;
  border-radius: 10px;
  margin-top: 50px;
}
.base-card:hover {
  background: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  color: #072a4d;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.base-card:hover img {
  background: #072a4d;
  transition: all 0.3s ease-in;
}

/* header && footer */
.header {
  height: 80px;
  background: #072a4d;
  color: #fff;
}
.header h1 {
  font-weight: 500;
  padding: 15px 0;
}
.footer {
  background: #072a4d;
  height: 110px;
  color: #fff;
  padding: 5% 0;
}
/* section ends here */

@media only screen and (max-width: 768px) {
  .base-card {
    width: 100%;
  }
  .header h1 {
    padding: 20px 0;
  }
  .cont-card {
    width: 100%;
  }
}
